<section class="home">
    <div class="header-bg">
        <div class="container margin-top-20p" >
            <div class="row mb-5">
                <div class="col-md-4 col-sm-4 col-xs-12 text-white">
                    <h1 class="header-title">Discover <br/> A new place</h1>
                    <p>Travel to the any corner of the world, without going aroung in circle.</p>
                </div>
            </div>
            <div class="row justify-content-center custom-align-bottom">
                <div class="col-md-10 col-sm-10 col-xs-12 booking-form align-bottom">
                    <h2 class="form-title">find your holiday</h2>
                    <div class="row mt-4 mb-4">
                        <div class="col-md-10 col-sm-10 col-xs-12 ">
                            <form class="form-box">
                                <div class="form-row">
                                    <div class="form-group col-md-4 col-sm-4 col-xs-12 ">
                                        <label>Destination</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroupPrepend1">
                                            <i class="fa fa-home"></i></span>
                                            </div>
                                            <select class="form-control select-arrow-1">
                                                <option selected>ALBERGO AL SOLE, Italy</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3 col-sm-3 col-xs-12 border-left">
                                        <label>Departure</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroupPrepend2"><i class="fa fa-suitcase"></i></span>
                                            </div>
                                            <input style="-webkit-appearance: none" type="date" class="form-control" value="2020-03-11"
                                                   aria-describedby="inputGroupPrepend1" >
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-12 border-left">
                                        <label for="validationCustom01">Return</label>
                                        <input type="date" class="form-control" id="validationCustom01" value="2020-03-11" placeholder="2020-03-11">
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12 border-left">
                                        <label>Guests</label>
                                        <div class="input-group select-box">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroupPrepend3">
                                            <i class="fa fa-user"></i></span>
                                            </div>
                                            <select class="form-control select-arrow-2">
                                                <option selected>2 Adults</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <button class="btn btn-style-3">Search</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<!--about section-->
<section class="about">
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <video class="video" loop="loop">
                    <source src="../../assets/img/video/home_video.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div class="play-pause"></div>

            </div>
            <div class="col-md-5 col-sm-5 col-xs-12 p-4">
                <span class="about-title-2">Welcome to Travel</span>
                <div class="about-section">
                    <h3 class="about-title-1">The Best Travel Agency</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id viverra quam. Donec nec scelerisque felis.
                        Suspendisse imperdiet felis at felis vulputate mattis. Integer tempor gravida sem non vulputate.
                        Fusce eu mauris quis sem iaculis interdum. Donec nec feugiat ante. Integer elit nunc, faucibus id eleifend non,
                    </p>
                    <p>elementum sed nunc. Proin sed sodales nibh, nec convallis mi. Quisque purus leo, convallis et libero
                        ornare, porta tempus arcu. Aenean orci urna, hendrerit eleifend luctus sit amet, posuere id arcu.
                        Fusce congue lacus id turpis tincidunt tempor. Pellentesque lacinia tincidunt lorem ut facilisis.
                        Duis dictum mauris sem, eget malesuada ligula iaculis nec.
                    </p>
                    <div class="social-icons">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--destination section-->
<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <h1><b>Popular Destination</b></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id viverra quam.<br> consectetur adipiscing
                    elit. Sed id viverra quam. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 dest-slider">
                <div id="owl-demo" class="owl-carousel">
                    <div><img src="../../assets/img/destinations/img1.jpg">
                        <div class="dest-slider-text">
                            <h1>Melbourne</h1>
                            <span>Lorem ipsum dolor sit amet.</span>
                        </div>
                    </div>
                    <div><img src="../../assets/img/destinations/img2.jpg">
                        <div class="dest-slider-text">
                            <h1>Brisbane</h1>
                            <span>Lorem ipsum dolor sit amet.</span>
                        </div>
                    </div>
                    <div><img src="../../assets/img/destinations/img3.jpg">
                        <div class="dest-slider-text">
                            <h1>Perth</h1>
                            <span>Lorem ipsum dolor sit amet.</span>
                        </div>
                    </div>
                    <div><img src="../../assets/img/destinations/img4.jpg">
                        <div class="dest-slider-text">
                            <h1>Sydney</h1>
                            <span>Lorem ipsum dolor sit amet.</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!--holiday section-->
<section>
    <div class="container mt-5 mb-3">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center holiday-section-title">
                <h1><b>Popular Holiday</b></h1>
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id viverra quam.<br> consectetur adipiscing
                    elit. Sed id viverra quam. </p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-4 col-sm-6 col-xs-12 holiday-section mb-4">
                <div class="card">
                    <img class="card-img-top" src="../../assets/img/holidays/usa.jpg" alt="image description">
                    <div class="card-body">
                        <div class="row card-details">
                            <div class="col-md-6 col-sm-6 col-xs-6"><h5 class="card-title">United State</h5></div>
                            <div class="col-md-6 col-sm-6 col-xs-6"><span class="card-price">$300</span></div>
                            <div class="col-md-5 col-sm-5 rating pr-1">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-half-o"></span>
                                <span class="fa fa-star-o"></span>
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-12 pl-0"><span class="reviews">(20 Review)</span></div>
                        </div>
                        <p class="card-text mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id viverra quam.
                            Donec nec scelerisque felis. Suspendisse imperdiet felis at felis vulputate mattis.
                            Integer tempor gravida sem non vulputate.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 holiday-section mb-4">
                <div class="card">
                    <img class="card-img-top" src="../../assets/img/holidays/italy.jpg" alt="image description">
                    <div class="card-body">
                        <div class="row card-details">
                            <div class="col-md-6 col-sm-6 col-xs-6"><h5 class="card-title">Italy</h5></div>
                            <div class="col-md-6 col-sm-6 col-xs-6"><span class="card-price">$300</span></div>
                            <div class="col-md-5 col-sm-5 rating pr-1">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-half-o"></span>
                                <span class="fa fa-star-o"></span>
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-12 pl-0"><span class="reviews">(20 Review)</span></div>
                        </div>
                        <p class="card-text mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id viverra quam.
                            Donec nec scelerisque felis. Suspendisse imperdiet felis at felis vulputate mattis.
                            Integer tempor gravida sem non vulputate.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 holiday-section mb-4">
                <div class="card">
                    <img class="card-img-top" src="../../assets/img/holidays/brazil.jpg" alt="image description">
                    <div class="card-body">
                        <div class="row card-details">
                            <div class="col-md-6 col-sm-6 col-xs-6"><h5 class="card-title">Brazil</h5></div>
                            <div class="col-md-6 col-sm-6 col-xs-6"><span class="card-price">$300</span></div>
                            <div class="col-md-5 col-sm-5 rating pr-1">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-half-o"></span>
                                <span class="fa fa-star-o"></span>
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-12 pl-0"><span class="reviews">(20 Review)</span></div>
                        </div>
                        <p class="card-text mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id viverra quam.
                            Donec nec scelerisque felis. Suspendisse imperdiet felis at felis vulputate mattis.
                            Integer tempor gravida sem non vulputate.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 holiday-section mb-4">
                <div class="card">
                    <img class="card-img-top" src="../../assets/img/holidays/maldives.jpg" alt="image description">
                    <div class="card-body">
                        <div class="row card-details">
                            <div class="col-md-6 col-sm-6 col-xs-6"><h5 class="card-title">Maldives</h5></div>
                            <div class="col-md-6 col-sm-6 col-xs-6"><span class="card-price">$300</span></div>
                            <div class="col-md-5 col-sm-5 rating pr-1">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-half-o"></span>
                                <span class="fa fa-star-o"></span>
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-12 pl-0"><span class="reviews">(20 Review)</span></div>
                        </div>
                        <p class="card-text mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id viverra quam.
                            Donec nec scelerisque felis. Suspendisse imperdiet felis at felis vulputate mattis.
                            Integer tempor gravida sem non vulputate.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 holiday-section mb-4">
                <div class="card">
                    <img class="card-img-top" src="../../assets/img/holidays/romania.jpg" alt="image description">
                    <div class="card-body">
                        <div class="row card-details">
                            <div class="col-md-6 col-sm-6 col-xs-6"><h5 class="card-title">Romania</h5></div>
                            <div class="col-md-6 col-sm-6 col-xs-6"><span class="card-price">$300</span></div>
                            <div class="col-md-5 col-sm-5 rating pr-1">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-half-o"></span>
                                <span class="fa fa-star-o"></span>
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-12 pl-0"><span class="reviews">(20 Review)</span></div>
                        </div>
                        <p class="card-text mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id viverra quam.
                            Donec nec scelerisque felis. Suspendisse imperdiet felis at felis vulputate mattis.
                            Integer tempor gravida sem non vulputate.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 holiday-section mb-4">
                <div class="card">
                    <img class="card-img-top" src="../../assets/img/holidays/indonesia.jpg" alt="image description">
                    <div class="card-body">
                        <div class="row card-details">
                            <div class="col-md-6 col-sm-6 col-xs-6"><h5 class="card-title">Indonesia</h5></div>
                            <div class="col-md-6 col-sm-6 col-xs-6"><span class="card-price">$300</span></div>
                            <div class="col-md-5 col-sm-5 rating pr-1">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-half-o"></span>
                                <span class="fa fa-star-o"></span>
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-12 pl-0"><span class="reviews">(20 Review)</span></div>
                        </div>
                        <p class="card-text mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id viverra quam.
                            Donec nec scelerisque felis. Suspendisse imperdiet felis at felis vulputate mattis.
                            Integer tempor gravida sem non vulputate.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <a href="" class="btn btn-style-2"> More Places</a>
            </div>
        </div>
    </div>
</section>

<!--testimonial section-->
<section>
    <div class="container-fluid mt-5 mb-3 testimonial-bg">
        <div class="row justify-content-center">
            <div class="col-md-12 col-sm-12 col-xs-12 testimonial-section text-center">
                <div id="owl-testimonial" class="owl-carousel owl-theme">
                    <div class="row justify-content-center">
                        <div class="col-md-12 col-sm-12 col-xs-12 center-div mt-5 mb-5">
                            <img class="center-div" src="../../assets/img/testimonials/user-1.jpg">
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <p class="testimonial-text">
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id viverra quam. Donec nec
                                scelerisque felis. Suspendisse imperdiet felis at felis vulputate mattis.</p>
                            <div class="rating user-rating mb-3 mt-3">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-half-o"></span>
                                <span class="fa fa-star-o"></span>
                            </div>
                            <div class="testimonial-person"><span>-Julian Francis</span></div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-12 col-sm-12 col-xs-12 center-div mt-5 mb-5">
                            <img class="center-div" src="../../assets/img/testimonials/user-2.jpg">
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <p class="testimonial-text">
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id viverra quam.
                                Donec nec scelerisque felis. Suspendisse imperdiet felis at felis vulputate mattis.
                                Integer tempor gravida sem non vulputate. Fusce eu mauris quis sem iaculis interdum.</p>
                            <div class="rating user-rating mb-3 mt-3">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-half-o"></span>
                                <span class="fa fa-star-o"></span>
                            </div>
                            <div class="testimonial-person"><span>-Julian Francis</span></div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-12 col-sm-12 col-xs-12 center-div mt-5 mb-5">
                            <img class="center-div" src="../../assets/img/testimonials/user-3.jpg">
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <p class="testimonial-text">
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id viverra quam. Donec nec scelerisque felis.
                                Suspendisse imperdiet felis at felis vulputate mattis. Integer tempor gravida sem non vulputate.
                                Fusce eu mauris quis sem iaculis interdum.</p>
                            <div class="rating user-rating mb-3 mt-3">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-half-o"></span>
                                <span class="fa fa-star-o"></span>
                            </div>
                            <div class="testimonial-person"><span>-Julian Francis</span></div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-12 col-sm-12 col-xs-12 center-div mt-5 mb-5">
                            <img class="center-div" src="../../assets/img/testimonials/user-4.jpg">
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <p class="testimonial-text">
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id viverra quam. Donec nec
                                scelerisque felis. Suspendisse imperdiet felis at felis vulputate mattis.</p>
                            <div class="rating user-rating mb-3 mt-3">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-half-o"></span>
                                <span class="fa fa-star-o"></span>
                            </div>
                            <div class="testimonial-person"><span>-Julian Francis</span></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!--blog section-->
<section>
    <div class="container mt-5 mb-3">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <h1><b>Recent Stories</b></h1>
            </div>
        </div>
        <div class="row blog-stories mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="card">
                    <img class="card-img-top" src="../../assets/img/blog/lake-woman.jpg" alt="image description">
                    <div class="card-body">
                        <div class="row">
                            <small class="card-title">Apr 14, 2020</small>
                            <p class="card-text">Live with no excuses and travel with no regrets</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="card">
                    <img class="card-img-top" src="../../assets/img/blog/travel-van.jpg" alt="image description">
                    <div class="card-body">
                        <div class="row">
                            <small class="card-title">Apr 14, 2020</small>
                            <p class="card-text">We travel not escape life but for not to escape us</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="card">
                    <img class="card-img-top" src="../../assets/img/blog/hiking.jpg" alt="image description">
                    <div class="card-body">
                        <div class="row">
                            <small class="card-title">Apr 14, 2020</small>
                            <p class="card-text">Peoples don'take trips, trips take people</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- newsletter section-->
<section>
    <div class="container mt-5 mb-3">
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-6 col-xs-12 text-center newsletter-main">
                <h1>Subscribe to our Newsletter</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id viverra quam.<br> consectetur adipiscing
                    elit. Sed id viverra quam. </p>
                <div class="input-group mt-4 mb-3 newsletter-style">
                    <input type="text" class="form-control" placeholder="Enter email address" aria-label="address" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <span class="btn btn-style-1">Subscribe</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--image gallery section-->
<section>
    <div class="container-fluid mt-5">
        <div class="row footer-gallery">
            <div class="col-md-3 col-sm-3 col-xs-12 pl-0 pr-0">
                <img class="gallery-img" src="../../assets/img/gallery/road.jpg" alt="footer Image">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 pl-0 pr-0">
                <img class="gallery-img"  src="../../assets/img/gallery/hike.jpg" alt="footer Image">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 pl-0 pr-0">
                <div class="row ml-0 mr-0">
                    <div class="col-md-3 col-sm-3 col-xs-12 pl-0 pr-0">
                        <img class="gallery-img" src="../../assets/img/gallery/lake-night.jpg" alt="footer Image">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 pl-0 pr-0">
                        <img class="gallery-img" src="../../assets/img/gallery/mount.jpg" alt="footer Image">
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 pl-0 pr-0">
                        <img class="gallery-img" src="../../assets/img/gallery/dominion-hotel.jpg" alt="footer Image">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--footer section-->
<section class="footer-section">
    <div class="container">
        <div class="row text-white justify-content-center">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <h4 class="footer-title">Travel</h4>
                <p class="footer-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id viverra quam. Donec nec scelerisque felis.
                    Suspendisse imperdiet felis at felis vulputate mattis. Donec nec scelerisque felis.
                    Suspendisse imperdiet felis at felis vulputate mattis.</p>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12 footer-nav">
                <h4 class="footer-title">Explore More</h4>
                <ul class="footer-nav-links">
                    <li>Home</li>
                    <li>Flight</li>
                    <li>Promotions</li>
                    <li>Destinations</li>
                    <li>Holidays</li>
                    <li>About us</li>
                    <li>Contact us</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 footer-address">
                <h4 class="footer-title">Get in Touch</h4>
                <p>
                    1313 ABC, Anehim,<br/>
                    San Francisco, California, USA
                </p>
                <p>+23 511 165 456</p>
                <p>info@360travelme.com</p>
                <div class="social-links">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 footer-support">
                <h4 class="footer-title">We Support</h4>
                <div class="footer-brands">
                    <span><img src="../../assets/img/footer/paypal.jpg"></span>
                    <span><img src="../../assets/img/footer/visa.jpg"></span>
                    <span><img src="../../assets/img/footer/mastercard.jpg"></span>
                    <span><img src="../../assets/img/footer/applepay.jpg"></span>
                    <span><img src="../../assets/img/footer/american-express.jpg"></span>
                </div>
            </div>
        </div>
        <hr class="hr-line"/>
        <div class="row text-white justify-content-center">
            <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                <p>2020 360Travel Me. All Right Reserved.</p>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12 text-center">
                <p>Privacy & Terms</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                <p>Terms & Conditions</p>
            </div>
        </div>

    </div>
</section>
